:root {
  --col-bg: #202020;
  --col-text: #c0c0c0;

  background-color: var(--col-bg);
  color: var(--col-text);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    --col-bg: white;
    --col-text: #101010;
  }
}